.weatherCard{
    width: 100vh;
    border-radius: 30px;
    height: 55vh;
    margin-top: 5rem;
    font-size: 130%;
    margin-left: 33rem;
    opacity: 1.8;
    background: #1f0000d0;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.weathersearchBar{
    border-radius: 24px;
    height: 6vh;
    border: none;
    width: 20rem;
    margin-top: 2rem;
    outline: none;
    padding: 1em 1em;
    border-radius: 24px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 105%;
    transition: all 0.1s ease-in-out;
}

.weathersearchBar:hover{
    box-shadow: 0px 0px 10px #ffffff;
}

.icon{
    display: flex;
    float: right;
    height: 20vh;
    width: 15vh;
    margin-top: 5rem;
    margin-right: 3rem;
}

.temp{
    margin: 0;
    font-weight: 500;
    margin-bottom: 0.4em;
}

.weatherData{
    padding: 2rem;

}