.app{
	background: #1D4350; 
	background: -webkit-linear-gradient(to right, #A43931, #1D4350);  
	background: linear-gradient(to right, #A43931, #1D4350); 
	transition: all 0.2s ease-in-out;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #000000;
    border-radius: 15px;
}

::-webkit-scrollbar
{
	width: 5px;
	background-color: #030303;
}

::-webkit-scrollbar-thumb
{
	background-color: #ffffff;
}

